CSSWENGxGK/bin/Debug/net7.0/CSSWENGxGK.dll
CSSWENGxGK/bin/Debug/net7.0/CSSWENGxGK.exe
CSSWENGxGK/bin/Debug/net7.0/CSSWENGxGK.pdb
CSSWENGxGK/bin/Debug/net7.0/CSSWENGxGK.staticwebassets.runtime.json
CSSWENGxGK/obj/CSSWENGxGK.csproj.nuget.dgspec.json
CSSWENGxGK/obj/CSSWENGxGK.csproj.nuget.g.props
CSSWENGxGK/obj/project.assets.json
CSSWENGxGK/obj/project.nuget.cache
CSSWENGxGK/obj/Debug/net7.0/apphost.exe
CSSWENGxGK/obj/Debug/net7.0/CSSWENGxGK.assets.cache
CSSWENGxGK/obj/Debug/net7.0/CSSWENGxGK.csproj.AssemblyReference.cache
CSSWENGxGK/obj/Debug/net7.0/CSSWENGxGK.csproj.CoreCompileInputs.cache
CSSWENGxGK/obj/Debug/net7.0/CSSWENGxGK.csproj.FileListAbsolute.txt
CSSWENGxGK/obj/Debug/net7.0/CSSWENGxGK.dll
CSSWENGxGK/obj/Debug/net7.0/CSSWENGxGK.GeneratedMSBuildEditorConfig.editorconfig
CSSWENGxGK/obj/Debug/net7.0/CSSWENGxGK.genruntimeconfig.cache
CSSWENGxGK/obj/Debug/net7.0/CSSWENGxGK.pdb
CSSWENGxGK/obj/Debug/net7.0/project.razor.vscode.bin
CSSWENGxGK/obj/Debug/net7.0/staticwebassets.build.json
CSSWENGxGK/obj/Debug/net7.0/staticwebassets.development.json
CSSWENGxGK/obj/Debug/net7.0/staticwebassets.pack.json
CSSWENGxGK/obj/Debug/net7.0/ref/CSSWENGxGK.dll
CSSWENGxGK/obj/Debug/net7.0/refint/CSSWENGxGK.dll
