@{
    ViewData["Title"] = "Welcome to Gawad Kalinga";
}
<div class="profile-card">
    <div class="profile-top">
        <div>
            <div class="profile-title">
                Profile
            </div>
        </div>
        <a asp-controller="Events" asp-action="AllEvents" class="profile-edit">
            Edit
        </a>
    </div>

    <div class="profile-body">
        <div class="profile-qr-container">
            <div class="profile-qr">
                <img src="" />
            </div>
            <div class="profile-save-qr-container">
                <a class="profile-save-qr">Save QR</a>
            </div>
        </div>
        <div class="profile-info-container">
            <div class="profile-name">
                Last Name, First Name
            </div>
            <div class="profile-info">
                <div class="profile-info-left">
                    <div class="profile-text-left">
                        Volunteer ID:
                    </div>
                    <div class="profile-text-left">
                        Email:
                    </div>
                    <div class="profile-text-left">
                        Mobile Number:
                    </div>
                    <div class="profile-text-left">
                        Birthdate:
                    </div>
                    <div class="profile-text-left">
                        Gender:
                    </div>
                    <div class="profile-text-left">
                        Location:
                    </div>
                    <div class="profile-text-left">
                        Year Started:
                    </div>
                    <div class="profile-text-left">
                        Date Created:
                    </div>
                    <div class="profile-text-left">
                        Last Updated:
                    </div>
                </div>
                <div class="profile-info-right">
                    <div class="profile-text-right">
                        Volunteer ID:
                    </div>
                    <div class="profile-text-right">
                        Email:
                    </div>
                    <div class="profile-text-right">
                        Mobile Number:
                    </div>
                    <div class="profile-text-right">
                        Birthdate:
                    </div>
                    <div class="profile-text-right">
                        Gender:
                    </div>
                    <div class="profile-text-right">
                        Location:
                    </div>
                    <div class="profile-text-right">
                        Year Started:
                    </div>
                    <div class="profile-text-right">
                        Date Created:
                    </div>
                    <div class="profile-text-right">
                        Last Updated:
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

