@model Volunteer
@{
    ViewData["Title"] = "Welcome to Gawad Kalinga";
}
<div class="profile-card">
    <div class="profile-top">
        <div>
            <div class="profile-title">
                Profile
            </div>
        </div>
        <a asp-controller="Events" asp-action="AllEvents" class="profile-edit">
            Edit
        </a>
    </div>

    <div class="profile-body">
        <div class="profile-qr-container">
            <div class="profile-qr">
                <img src="" />
            </div>
            <div class="profile-save-qr-container">
                <a class="profile-save-qr">Save QR</a>
            </div>
        </div>
        <div class="profile-info-container" >
            <div class="profile-name">
                Last Name, First Name
            </div>
            <div class="profile-info">
                <div class="profile-info-left">
                    <div class="profile-text-left">
                        Volunteer ID:
                    </div>
                    <div class="profile-text-left">
                        Email:
                    </div>
                    <div class="profile-text-left">
                        Mobile Number:
                    </div>
                    <div class="profile-text-left">
                        Birthdate:
                    </div>
                    <div class="profile-text-left">
                        Gender:
                    </div>
                    <div class="profile-text-left">
                        Location:
                    </div>
                    <div class="profile-text-left">
                        Year Started:
                    </div>
                    <div class="profile-text-left">
                        Date Created:
                    </div>
                    <div class="profile-text-left">
                        Last Updated:
                    </div>
                    <div class="profile-text-left">
                        Email Notifications:
                    </div>
                </div>
                <div class="profile-info-right">
                    <div class="profile-text-right">
                        Volunteer ID:
                    </div>
                    <div class="profile-text-right">
                        Email:
                    </div>
                    <div class="profile-text-right">
                        Mobile Number:
                    </div>
                    <div class="profile-text-right">
                        Birthdate:
                    </div>
                    <div class="profile-text-right">
                        Gender:
                    </div>
                    <div class="profile-text-right">
                        Location:
                    </div>
                    <div class="profile-text-right">
                        Year Started:
                    </div>
                    <div class="profile-text-right">
                        Date Created:
                    </div>
                    <div class="profile-text-right">
                        Last Updated:
                    </div>
                    <div class="profile-text-right">
                        Enabled
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-info-container" hidden>
            <div class="profile-centered">
                <div class="profile-horizontal">
                    <div class="profile-textbox">
                        <label>First Name</label>
                        <input asp-for="FirstName" class="form-control profile-forminput">
                    </div>
                    <div class="profile-textbox">
                        <label>Last Name</label>
                        <input asp-for="LastName" class="form-control profile-forminput">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="profile-textbox">
                    <label>Email Address</label>
                    <input asp-for="Email" class="form-control profile-forminput">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="profile-textbox">
                    <label>Phone Number</label>
                    <input asp-for="MobileNumber" class="form-control profile-forminput">
                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                </div>
                <div class="profile-textbox">
                    <label>Birthday</label>
                    <input asp-for="BirthDate" class="form-control profile-forminput" type="date">
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="profile-textbox">
                    <label>Gender</label>
                    <select asp-for="Gender" class="form-control profile-forminput">
                        <option value="" selected disabled hidden>Select Gender:</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                @* TODO: Connect their given db *@
                <div class="profile-textbox">
                    <label>Country</label>
                    <input asp-for="Country" class="form-control profile-forminput">
                </div>
                <div class="profile-textbox">
                    <label>Province Code</label>
                    <input asp-for="PROV_CODE" class="form-control profile-forminput">
                </div>
                <div class="profile-textbox">
                    <label>Town Code</label>
                    <input asp-for="TOWN_CODE" class="form-control profile-forminput">
                </div>
                <div class="profile-textbox">
                    <label>Barangay Code</label>
                    <input asp-for="BRGY_CODE" class="form-control profile-forminput">
                </div>
                <div class="profile-textbox">
                    @* TODO: Make year only *@
                    <label>Year Started as GK Volunteer?</label>
                    <input asp-for="YearStarted" class="form-control profile-forminput">
                    <span asp-validation-for="YearStarted" class="text-danger"></span>
                </div>
                <br>
                <div class="profile-notify-container">
                    <label class="profile-notify">Enable Email Notifications</label>
                    <input type="checkbox" class="profile-checkbox" />
                </div>
            <br>
                <div class="profile-button">
                    <a class="profile-discard-button">Discard Changes</a>
                    <a class="profile-save-button">Save Changes</a>
                </div>
            </div>
        </div>
    </div>
</div>

