@model Volunteer
@{
    ViewData["Title"] = "Welcome to Gawad Kalinga";
}

<form method="post">
    <div class="card border">
        <div class="title">
            Register
        </div>
        
        <div class="centered">
            <div class="horizontal">
                <div class="textbox">
                    <label>First Name</label>
                    <input asp-for="FirstName" class="form-control">
                </div>
                <div class="textbox">
                    <label>Last Name</label>
                    <input asp-for="LastName" class="form-control">
                </div>
            </div>
            <div class="textbox">
                <label>Email Address</label>
                <input asp-for="Email" class="form-control">
            </div>
            <div class="textbox">
                <label>Phone Number</label>
                <input asp-for="MobileNumber" class="form-control">
            </div>
            <div>
                <label>Birthday</label>
                <input asp-for="BirthDate" class="form-control">
            </div>
            <div class="textbox">
                <label>Gender</label>
                <input asp-for="Gender" class="form-control">
            </div>
            <div class="textbox">
                <label>Province Code</label>
                <input asp-for="PROV_CODE" class="form-control">
            </div>
            <div class="textbox">
                <label>Town Code</label>
                <input asp-for="TOWN_CODE" class="form-control">
            </div>
            <div class="textbox">
                <label>Barangay Code</label>
                <input asp-for="BRGY_CODE" class="form-control">
            </div>
            <div class="textbox">
                <label>Year Started as GK Volunteer?</label>
                <input asp-for="YearStarted" class="form-control">
            </div>
            <div class="button">
                <button type="submit">Register</button>
            </div>
            <div class="link-text">
                <a href="login.html">Already have an account? Login.</a>
            </div>
        </div>
    </div>
</form>
