@model Volunteer
@{
    ViewData["Title"] = "Welcome to Gawad Kalinga";
}

<form method="post">
    <div class="card border">
        <div class="title">
            Register
        </div>
        
        <div class="centered">
            <div class="horizontal">
                <div class="textbox">
                    <label>First Name</label>
                    <input asp-for="FirstName" class="form-control forminput">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="textbox">
                    <label>Last Name</label>
                    <input asp-for="LastName" class="form-control forminput">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="textbox">
                <label>Email Address</label>
                <input asp-for="Email" class="form-control forminput">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="textbox">
                <label>Password</label>
                <input asp-for="Password" class="form-control forminput" type="password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="textbox">
                <label>Phone Number</label>
                <input asp-for="MobileNumber" class="form-control forminput">
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <div class="textbox">
                <label>Birthday</label>
                <input asp-for="BirthDate" class="form-control forminput" type="date">
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="textbox">
                <label>Gender</label>
                <select asp-for="Gender" class="form-control forminput">
                    <option value="" selected disabled hidden>Select Gender:</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            @* TODO: Connect their given db *@
            <div class="textbox">
                <label>Country</label>
                <input asp-for="Country" class="form-control forminput">
            </div>
            <div class="textbox">
                <label>Province Code</label>
                <input asp-for="PROV_CODE" class="form-control forminput">
            </div>
            <div class="textbox">
                <label>Town Code</label>
                <input asp-for="TOWN_CODE" class="form-control forminput">
            </div>
            <div class="textbox">
                <label>Barangay Code</label>
                <input asp-for="BRGY_CODE" class="form-control forminput">
            </div>
            <div class="textbox">
                <label>Year Started as GK Volunteer?</label>
                <input asp-for="YearStarted" class="form-control forminput">
                <span asp-validation-for="YearStarted" class="text-danger"></span>
            </div>
            <br>
            <div class="register-notify-container">
                <label class="register-notify">Enable Email Notifications</label>
                <input type="checkbox" asp-for="IsNotify" class="register-checkbox" />
            </div>
            <br>
            <div class="button">
                <button type="submit">Register</button>
            </div>
            <div class="link-text">
                <a asp-controller="Volunteer" asp-action="Login">Already have an account? Login.</a>
            </div>
        </div>
    </div>
</form>
