@{
    ViewData["Title"] = "Welcome to Gawad Kalinga";
}

<div class="all-events-card">
    <div class="all-events-title">
        Events
    </div>
    <div class="all-events-top">
        <input class="all-events-search-bar" type="text" placeholder="Search...">
        <select class="all-events-filter" name="" id="">
            <option value="" selected disabled hidden>Filter</option>
            <option value="">Nearest</option>
            <option value="">Liked</option>
            <option value="">Alphabetical</option>
        </select>
    </div>
    <div class="all-events-display">
        <a class="all-events-individual-display" asp-controller="Events" asp-action="OneEvent">
            <img src="">
            <h1 class="all-events-individual-title">Event Name</h1>
            <p class="all-events-short-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis erat tellus, vel luctus urna faucibus et. Ut molestie, arcu ut vehicula convallis, eros lectus volutpat tortor, ut dignissim tellus felis vitae enim. Donec sed sem ac elit pretium consequat. Vivamus nunc velit, pharetra in lectus vel, feugiat rutrum arcu. Mauris rhoncus ultrices efficitur. Nam quis mauris at nibh fermentum tincidunt quis sed eros. Fusce sollicitudin et eros vel vehicula.</p>
        </a>
        <a class="all-events-individual-display" asp-controller="Events" asp-action="OneEvent">
            <img src="">
            <h1 class="all-events-individual-title">Event Name</h1>
            <p class="all-events-short-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis erat tellus, vel luctus urna faucibus et. Ut molestie, arcu ut vehicula convallis, eros lectus volutpat tortor, ut dignissim tellus felis vitae enim. Donec sed sem ac elit pretium consequat. Vivamus nunc velit, pharetra in lectus vel, feugiat rutrum arcu. Mauris rhoncus ultrices efficitur. Nam quis mauris at nibh fermentum tincidunt quis sed eros. Fusce sollicitudin et eros vel vehicula.</p>
        </a>
        <a class="all-events-individual-display" asp-controller="Events" asp-action="OneEvent">
            <img src="">
            <h1 class="all-events-individual-title">Event Name</h1>
            <p class="all-events-short-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis erat tellus, vel luctus urna faucibus et. Ut molestie, arcu ut vehicula convallis, eros lectus volutpat tortor, ut dignissim tellus felis vitae enim. Donec sed sem ac elit pretium consequat. Vivamus nunc velit, pharetra in lectus vel, feugiat rutrum arcu. Mauris rhoncus ultrices efficitur. Nam quis mauris at nibh fermentum tincidunt quis sed eros. Fusce sollicitudin et eros vel vehicula.</p>
        </a>

        @* Individual Event Display Template *@
        @* <a class="all-events-individual-display" asp-controller="" asp-action="">
            <img src="Image Link">
            <h1 class="all-events-individual-title">Event Name</h1>
            <p class="all-events-short-description">Event Short Description</p>
        </a> *@
    </div>
</div>