@{
    ViewData["Title"] = "Welcome to Gawad Kalinga";
}

<div class="edit-one-event-card">
    <div class="edit-one-event-top">
        <div class="edit-one-event-textbox">
            <label>Title</label>
            <input  class="form-control forminput">
        </div>
    </div>

    <div class="edit-one-event-body">
        <img src="">

        <div class="edit-one-event-textbox">
            <label>Preview Description</label>
            <input  class="form-control edit-one-event-forminput">
        </div>

        <div class="edit-one-event-textbox">
            <label>Full Description</label>
            <input  class="form-control edit-one-event-forminput">
        </div>

        <div class="edit-one-event-container">
            <div class="edit-one-event-textbox">
                <label>Date & Time</label>
                <input  class="form-control edit-one-event-forminput">
            </div>
            <div class="edit-one-event-textbox">
                <label>Location</label>
                <input  class="form-control edit-one-event-forminput">
            </div>
        </div>

        <div class="edit-one-event-container">
            <p><strong>Organizers:</strong></p>
            <div class="edit-one-event-contact">
                <div>
                    <div class="edit-one-event-contact-textbox">
                        <label>Name</label>
                        <input  class="form-control edit-one-event-contact-forminput">
                    </div>
                    <div class="edit-one-event-contact-textbox">
                        <label>Contact Number</label>
                        <input  class="form-control edit-one-event-contact-forminput">
                    </div>
                    <div class="edit-one-event-contact-textbox">
                        <label>Email Address</label>
                        <input  class="form-control edit-one-event-contact-forminput">
                    </div>
                </div>
            </div>
        </div>

        <div class="edit-one-event-button">
            <a class="edit-one-event-discard-button">Discard Changes</a>
            <a class="edit-one-event-save-button">Save Changes</a>
        </div>

    </div>
</div>
