@{
    ViewData["Title"] = "Welcome to Gawad Kalinga";
}

@using Microsoft.AspNetCore.Identity
@inject UserManager<User> _userManager

@{
var searchQuery = ViewData["SearchQuery"] as string;
var sortOrder = ViewData["SortOrder"] as string;
var currentPage = ViewData["CurrentPage"] as int?;
var totalPages = ViewData["TotalPages"] as int?;
}

@{
var userIdNullable = Context.Session.GetInt32("User_ID");
string userIdString = userIdNullable?.ToString() ?? "0";

var user = await _userManager.FindByNameAsync(userIdString);
}

@if (user != null)
{
    <div class="past-events-card">
        <div class="past-events-top">
            <div class="past-events-title">
                Past Events
            </div>
            <a asp-controller="Volunteer" asp-action="Profile" class="past-events-back">
                &lt;- Back to Profile
            </a>
        </div>

        <div class="past-events-display">
            @foreach (var eventItem in Model)
            {
                <a class="past-events-individual-display" asp-controller="Events" asp-action="OneEvent" asp-route-eventId="@eventItem.EventID">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(eventItem.EventImage)" alt="@eventItem.EventName Image" style="padding-top: 0;" />
                    <!-- Assuming images are JPEG; adjust data URI accordingly for different image types -->
                    <h1 class="past-events-individual-title">@eventItem.EventName</h1>
                    <p class="past-events-short-description">@eventItem.EventShortDesc</p>
                </a>
            }
        </div>
    </div>
}else{
    <div class="warning-message">
        <p>Please login to access this page.</p>
    </div>
}


