@{
    ViewData["Title"] = "Welcome to Gawad Kalinga";
}

@using Microsoft.AspNetCore.Identity
@inject UserManager<User> _userManager

@{
    var userIdNullable = Context.Session.GetInt32("User_ID");
    string userIdString = userIdNullable?.ToString() ?? "0";

    var user = await _userManager.FindByNameAsync(userIdString);
}

<div class="list-card">
    <div class="list-top">
        <div>
            <div class="list-title">
                @ViewBag.EventInfo.EventName
            </div>
        </div>
        <a asp-controller="Events" asp-action="BackEvent" class="list-back">
            <- Back to Details
        </a>
    </div>
    @if (user != null)
    {
        var userRoles = await _userManager.GetRolesAsync(user);
        if (userRoles.Contains("Admin"))
        {
            <div class="list-scan">
                <a asp-controller="Scan" asp-action="Scan">Record Attendance</a>
            </div>
        }
    }
    <div class="list-body-container">
        <div class="list-body">
            <div class="list-label">
                Volunteer Name
            </div>
            <div class="list-label">
                Volunteer ID
            </div>
            @if (ViewBag.VolunteersInfo != null && ViewBag.VolunteersInfo.Count > 0)
            {
                int count = 1;
                    @foreach (var volunteer in ViewBag.VolunteersInfo)
                        {
                        <div class="list-volunteer">
                            @count) @volunteer.FirstName @volunteer.LastName
                        </div>
                        <div class="list-volunteer">
                            @volunteer.VolunteerID
                        </div>
                        count++;
                        }
            }
            </div>
    </div>
</div>
