@{
    ViewData["Title"] = "Welcome to Gawad Kalinga";
}

<div class="one-event-card">
    <div class="one-event-top">
        <div>
            <div class="one-event-title">
                Volunteer Attendance
            </div>
        </div>
        <a asp-controller="Events" asp-action="VolunteerList" class="one-event-back">
            <- Back to Volunteer List
        </a>
    </div>

    <video class="scan-camera" id="qr-video" style="transform: scaleX(1) !important;"></video>


    <form method="post" class="scan-volunteer-id-container">
        <input class="scan-volunteer-id" type="text" placeholder="Volunteer ID">
        <div class="scan-button-container">
            <button type="submit" class="scan-button">Check Volunteer ID</button>
        </div>
    </form>

    <div class="scan-info-container">
        <div class="scan-left-info-container">
            <div class="scan-left-text">
                <strong>Volunteer Name:</strong>
            </div>
            <div class="scan-left-text">
                <strong>Volunteer ID:</strong>
            </div>
        </div>
        <div class="scan-right-info-container">
            <div class="scan-left-text">
                Last, First
            </div>
            <div class="scan-left-text">
                12345678
            </div>
        </div>
    </div>
    <div class="scan-button-container">
        <a class="scan-button">Verify Volunteer ID</a>
    </div>

    <script>
        // Get a reference to the video element
        const videoElement = document.getElementById('qr-video');

        // Initialize the QR code scanner
        const scanner = new Instascan.Scanner({ video: videoElement });

        // Listen for the "scan" event to capture the QR code data
        scanner.addListener('scan', function (content) {
            // Handle the scanned QR code content here
            // You can update your UI or perform any other actions.
            alert('Scanned QR code content: ' + content);
        });

        // Start the QR code scanner
        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
                scanner.start(cameras[0]);
            } else {
                console.error('No cameras found.');
            }
        });
    </script>
</div>
