header {
	position: sticky;
	top: 0;
	z-index: 2;
}

.navbar {
	background-color: var(--accent) !important;
	opacity: 0.9;
	width: 100%;
}

a.nav-link {
	min-width: 100px;
	text-align: center;
	font-weight: bold;
}


li.nav-item {
	border-radius: var(--corner-radius);
	margin-right: 5px;
	transition: all 250ms linear;
	transform: scale(1);
}

li.nav-item:hover {
	box-shadow: inset 0 0 0 100px rgba(253, 253, 253, 0.4);
	transition: all 50ms linear;
	transform: scale(1);
}

.navbar-toggler:focus {
	outline: none !important;
	box-shadow: none;
}

.nav-spacer {
	width: 100%;
}

@media screen and (max-width: 575px) {
	a.nav-link {
		text-align: left;
		margin-left: 20px;
	}
	li.nav-item {
		transition: all 250ms linear;
		transform: scale(1);
		margin: 2px 0;
	}
	li.nav-item:hover {
		box-shadow: inset 0 0 0 100px rgba(253, 253, 253, 0.4);
		transition: all 50ms linear;
		transform: scale(1);
	}

}