.profile-card {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 5em 7em;
	background-color: var(--white);
	box-shadow: var(--drop-shadow);
	border-radius: var(--corner-radius);
}

.profile-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
}

.profile-title {
	font-weight: bolder;
	font-size: var(--font-size-header);
	color: var(--accent);
    padding-right: 0.3em;
}

.profile-edit {
	text-decoration: none;
	cursor: pointer;
	color: var(--black);
}

.profile-edit:hover {
	color: var(--black);
}

.profile-body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.profile-qr-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    width: 45%;
}

.profile-qr{
    max-width: 80%;
}

.profile-save-qr-container { 
	display: flex; 
}

.profile-save-qr {
	font-size: var(--font-size-small);
	padding: 0.2em 1.5em;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 1em;
	border: 0px;
	border-radius: var(--corner-radius);
	box-shadow: var(--drop-shadow);
	color: var(--accent);
	background-color: var(--white);
	font-weight: bold;
	outline: 0px solid;
    text-decoration: none;
    cursor: pointer;

	transition:all 250ms ease-out;
	transform: scale(1);
}

.profile-save-qr:hover {
	background-color: var(--accent);
	color: var(--white);
	transition:all 50ms ease-out;
	transform: scale(1);
}

.profile-save-qr:active {
	background-color: var(--accent);
	color: var(--white);
	transition:all 10ms ease-out;
	transform: scale(1.1);
}

.profile-name{
    font-weight: 700;
	font-size: var(--font-size-regular);
	color: black;
}

.profile-view-past {
	font-size: var(--font-size-small);
	padding: 0.2em 1.5em;
	max-width: 100%;
	margin: 1em auto;
	border: 0px;
	border-radius: var(--corner-radius);
	box-shadow: var(--drop-shadow);
	color: var(--accent);
	background-color: var(--white);
	font-weight: bold;
	outline: 0px solid;
    text-decoration: none;
    cursor: pointer;

	transition:all 250ms ease-out;
	transform: scale(1);
}

.profile-view-past:hover {
	background-color: var(--accent);
	color: var(--white);
	transition:all 50ms ease-out;
	transform: scale(1);
}

.profile-view-past:active {
	background-color: var(--accent);
	color: var(--white);
	transition:all 10ms ease-out;
	transform: scale(1.1);
}

.profile-info-container{
    width: 45%;
}

.profile-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.profile-info-left{
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    justify-content: left;
}

.profile-text-left{
    text-align: start;
}

.profile-info-right{
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    justify-content: left;
}

.profile-text-right{
    text-align: start;
}

.profile-centered {
	padding: 0px 30px
}

.profile-horizontal {
	display:flex;
	justify-content: space-between;
	gap: 40px;
}

.profile-textbox {
	max-width: 100%;
	width: 100%;
}

.profile-textbox > label {
	font-size: var(--font-size-small);
	color: var(--grey);
	margin-top: 1em;
}

.profile-forminput {
	border-radius: var(--corner-radius);
	font-size: 16px;
	box-shadow: var(--drop-shadow);
	padding: 5px 10px;
	outline-width: 0;
	background-color: var(--white);
	border: 4px solid var(--white);
	margin-bottom: 0.2em;
	width: 100%;
	box-sizing: border-box;

	transition:all 250ms ease-out;
	transform: scale(1);
}

.profile-forminput:focus {
	border-color: var(--accent);
	transition:all 50ms ease-out;
	transform: scale(1);
}

.profile-notify-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile-notify{
    align-items: center;
    font-size: 16px;
}

.profile-checkbox{
    border-radius: var(--corner-radius);
	font-size: var(--font-size-small);
	padding: 5px 10px;
	outline-width: 0;
	background-color: var(--white);
	border: 4px solid var(--white);
	box-sizing: border-box;
    margin: 5px;
}

.profile-button { 
	display: flex; 
}

.profile-save-button {
	font-family: var(--font-family);
	font-size: 16px;
	padding: 0.5em 2em;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 1em;
	border: 0px;
	border-radius: var(--corner-radius);
	box-shadow: var(--drop-shadow);
	color: var(--white);
	background-color: var(--accent);
	font-weight: bold;
	outline: 0px solid;
	text-decoration: none;

	transition:all 250ms ease-out;
	transform: scale(1);
}

.profile-save-button:hover {
	background-color: var(--white);
	color: var(--accent);
	transition:all 50ms ease-out;
	transform: scale(1);
}

.profile-save-button:active {
	background-color: var(--white);
	color: var(--accent);
	transition:all 10ms ease-out;
	transform: scale(1.1);
}

.profile-discard-button {
	font-family: var(--font-family);
	font-size: 16px;
	padding: 0.5em 2em;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 1em;
	border: 0px;
	border-radius: var(--corner-radius);
	box-shadow: var(--drop-shadow);
	color: var(--accent);
	background-color: var(--white);
	font-weight: bold;
	outline: 0px solid;
	text-decoration: none;

	transition:all 250ms ease-out;
	transform: scale(1);
}

.profile-discard-button:hover {
	background-color: var(--accent);
	color: var(--white);
	transition:all 50ms ease-out;
	transform: scale(1);
}

.profile-discard-button:active {
	background-color: var(--accent);
	color: var(--white);
	transition:all 10ms ease-out;
	transform: scale(1.1);
}

.profile-sign-out-button {
	font-family: var(--font-family);
	font-size: 16px;
	padding: 0.5em 2em;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 1em;
	border: 0px;
	border-radius: var(--corner-radius);
	box-shadow: var(--drop-shadow);
	color: var(--white);
	background-color: var(--accent);
	font-weight: bold;
	outline: 0px solid;
	text-decoration: none;

	transition:all 250ms ease-out;
	transform: scale(1);
}

.profile-sign-out-button:hover {
	background-color: var(--white);
	color: var(--accent);
	transition:all 50ms ease-out;
	transform: scale(1);
}

.profile-sign-out-button:active {
	background-color: var(--white);
	color: var(--accent);
	transition:all 10ms ease-out;
	transform: scale(1.1);
}


/* For Mobile View */
@media screen and (max-width: 900px) {
	.profile-card {
		padding: 3em 5em;
		width: 100%;
	}

	.profile-body{
		flex-direction: column;
	}

	.profile-qr-container{
		width: 70%;
	}

	.profile-info-container{
		width: 80%;
	}

	.profile-name{
		margin-top: 2rem;
	}

	.profile-forminput {
		font-size: var(--font-size-small);
	}
}

@media screen and (max-width: 510px) {
	.profile-card {
		padding: 3em 3em;
	}

	.profile-title {
		font-size: var(--font-size-header-small);
	}
	
	.profile-qr-container{
		width: 90%;
	}

	.profile-qr{
		max-width: 100%;
	}

	.profile-centered {
		padding: 0px
	}

	.profile-info-container{
		width: 90%;
	}
	
	.profile-text-left{
		font-size: 12px;
	}
	
	.profile-text-right{
		font-size: 12px;
	}

	.profile-textbox > label {
		font-size: 13px;
		margin-top: 0.5em;
	}
	
	.profile-forminput {
		font-size: var(--font-size-smaller);
	}

	.profile-save-button {
		font-size: 11px;
		padding: 0.5em 2em;
		max-width: 50%;
	}

	.profile-discard-button {
		font-size: 11px;
		padding: 0.5em 2em;
		max-width: 50%;
	}
}