@font-face {
	font-family: Colfax;
	src: url(../fonts/Colfax-Regular.otf);
}

:root{
	--accent: #ff9900;
	--black: #1b1b1b;
	--white: #fdfdfd;
	--grey: #3b3b3b;
	--font-size-smaller: 12px;
	--font-size-small: 20px;
	--font-size-regular: 24px;
	--font-size-header-small: 36px;
	--font-size-header: 44px;
	--corner-radius: 10px;
	--drop-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
	--font-family: Colfax;
}

html * {
	font-family: var(--font-family);
}

html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.card {
	position: static;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

input[type="checkbox"] {
	appearance: none;
	background-color: var(--white);
	display: grid;
	place-content: center;
	margin: 0;
	margin-left: 1em;
	font: inherit;
	color: currentColor;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	box-shadow: var(--drop-shadow);
}

input[type="checkbox"]::before {
	border-radius:50%;
	content: "";
	width: 18px;
	height: 18px;
	transform: scale(0);
	transition: 25ms transform linear;
	box-shadow: inset 15px 15px var(--accent);
}

input[type="checkbox"]:checked::before {
	transition: 250ms transform cubic-bezier(.2,.1,0,3);
	transform: scale(1);
}
input[type="checkbox"]:focus {
	outline: transparent;
}

.forminput, .login-otp-input, .login-input, .all-events-search-bar {
	border-radius: var(--corner-radius);
	font-size: var(--font-size-regular);
	font-family: var(--font-family);
	box-shadow: var(--drop-shadow);
	padding: 5px 10px;
	outline-width: 0;
	background-color: var(--white);
	border: 4px solid var(--white);
	width: 100%;
	box-sizing: border-box;
	z-index: 0;
	position: relative;
	transition:all 250ms ease-out;
	transform: scale(1);
}

.forminput:focus, .login-otp-input:focus, .login-input:focus, .all-events-search-bar:focus{
	border-color: var(--accent);
	box-shadow: var(--drop-shadow);

	outline:none;
	transform: scale(1.01) translateY(-2px);
	transition:all 50ms ease-out;
}